*{
	margin: 0px;
}

body{
	background: #ffbb0e;
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
}

.header{
	background: #00ff2a;
	color: #f0940a;
	display: flex;
	justify-content: space-between;
	height: 90px;
	
}

.header a{
	color: #f97706;
	text-decoration: none;
	height: inherit;
	display: flex;
	align-items: center;
	padding: 0px 10px;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
}	 

.header li{
	height: inherit;
}

.logo img{
	width: 80px;
}

.menu{
	height: inherit;
}

ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	height: inherit;
}

.principal{
	background-image: url('../img/fondoMar2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 100px; 
}

.principal img{ 
	width: 300px;
}

.principal button{
	width: 250px;
	height: 40px;
	background-color: #cc5f00;
	border-radius: 24px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	margin-top: 30px;
}

h1{
	font-family: 'Nunito', sans-serif;
	font-size: 30px;
}

h1 strong{
	color: #e99311;
}

.somos{
	background: #ff8d01;
	text-align: center;
	padding: 40px;
	font-size: 20px;
}
.tercero{
	color: #cc5f00;
	background-color: #ff8d01;
	text-align: right;
	padding: 20px 20px;

}	
.aplicar{
	height: 500px;
	background-color: #f0850a;
	color: aqua;
	display: flex;
	justify-content: space-around;
	margin: 0px;
}
.aplicar-detalles{	
	width: 50%;
	display: flex;
	flex-direction: column;
	height: inherit;
	justify-content: center;
	align-items: center;
	padding: 0px 30px;
	text-align: center;
}
.aplicar-detalles img{
	height: 90%;
}

.container1{
	display: flex;
	background: white;
	color: black;
	text-align: center;
	justify-content: space-around;
	padding: 20px;
}
.row1-contacto{
	display: flex;
	margin: 10px;
}

.row1-contacto img{
	width: 35px;
	height: 25px;
}

.row2-contacto{
	display: flex;
}

.row2-contacto img{
	width: 35px;
	height: 25px;
}

.row1-redes img{
	width: 35px;
	height: 25px;
}

.container2{
	background: rgb(0, 132, 255)
}

